.container{
  background-color: rgb(209, 170, 170);
  height: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;

}
.two{
  color: white;
  font-size: large;
 display: flex;
 gap: 40px;
 margin-top: 10px;
margin-right: 10px;
}
.name{
  color: white;
  font-size: large;
 display: flex;
 gap: 40px;
 margin-top: 10px;
 margin-left: 10px;
}
h1{
  margin-left: 540px;
}


